
.container { margin: 0 auto; max-width: 1170px; }
section { display: flex; }

.flex { display: flex; }
.flex-column { flex-direction: column; }
.flex-one { flex: 1; }
.align-center { align-items: center; }
.center { justify-content: center; }
.space-between { justify-content: space-between; }

.btn{
  cursor: pointer;
  border: 0px;
  padding:6px, 6px, 12px, 12px;
  border-radius: 3px;
  line-height: 1.4;
}

.btn-default { color: #ffffff; background-color: #faa541; }
.btn-primary { color: #ffffff; background-color: #364147; }
